body{
    padding: 0;
    margin: 0;
    height: 100%;
    /* background: #C9D6FF;  /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to bottom, #E2E2E2, #C9D6FF);  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to bottom, #aec3c9, #b0b7d0); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-family: 'Poppins', sans-serif;
    /* font-family: 'Merriweather', serif; */
    /* font-family: 'Lora', serif; */

}

::placeholder{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding-left:5px;
}